<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой Блог</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Добро пожаловать в мой блог!</h1>
<p>Здесь я делюсь своей жизнью:</p>

<!-- Ссылка на twitter -->
<div class="social-link">
    Twitter:
    <br>
    <a th:href="${twitter}" target="_blank" class="social-button">Перейти</a>
</div>

<!-- Ссылка на Facebook -->
<div class="social-link">
    Facebook:
    <br>
    <a th:href="${facebook}" target="_blank" class="social-button">Перейти</a>
</div>

<div class="back-link">
    <a th:href="@{/}" class="button">Вернуться на главную</a>
</div>
</body>
</html>